// bower:scss
// endbower
@import "reset";


body, html{
  background-color: #ddd;  
  font-family: 'Helvetica Neue', 'Arial';
  font-weight: 200;  
}

*{
  box-sizing: border-box;
}

#wrapper{
  background-image: url('../images/body.png');
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
  margin: auto;
  max-width: 450px;  
  width: 100%;
}

.header{
  position:relative;
  height: 320px;
  width: 100%;
  background-image: url('../images/bg.png');

  td{    
    vertical-align: middle;
    text-align: center;
  }

  $cover-image-size: 180px;

  .header-image{
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    
    width: $cover-image-size;
    height: $cover-image-size;
    border: 4px solid white;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);
  }


  .header-text{
    padding: 15px;
    width: 100%;
  }

  h4{
    font-size: 16pt;
    font-weight: 100;
    color: white;
    padding-top: 5px;
    width: 100%;
    margin:auto;
  }
  
  .now-playing-song{
    text-transform: uppercase;    
  }

  .now-playing-artist{
    font-weight: 400;

  }
}

.app-header{
  position:fixed;
  top:0px;
  left:0px;
  height: 44px;
  width: 100%;
  color: white;
  background-color: green;
  text-align: center;
  z-index: 4;


  h1{
    position: relative;
    top:50%;
    margin-top: -7px;
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: 100;
  }
}

button{
  background-color: transparent;
  outline:none;
  border:none;
  cursor: pointer;

  i{
    font-size: 32px;
  }

  &:active, &:hover{
    background-color: transparent;
    outline:none;
    border:none;
  }
}

.toolbar{
  height: 44px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

@import "playlist";